<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> <!-- Head -->
    <link rel="stylesheet" href="css/detalleProducto.css">
    <title>Detalle Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> <!--Header -->
    <%- include('../partials/filter.ejs') %> <!--Filter -->
    <main class="mainProductDetail">
        <div class="galery">
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 1" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 2" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 3" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 4" ></a>
        </div>

        <div class="mainImage">
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Principal" height=25px></a>
        </div>

        <div class="detalleProducto">
            <section class="detalle1">
                <h4 class="titulo"><i><b>Titulo Demasiado Unico Original y Exclusivo</b></i></h4>

                <section class="envio"> <!-- De acá saldrá el PopUp para elegir otros medios de transporte disponibles -->
                    <img class="iconoEnvio" src="./images/iconos/free-shipping.png" alt="">
                    <a href="#" class="leyendaEnvio"><p>Envío gratis a domicilio</p></a> 
                </section>

                <section class="cantidad">
                    <button type="button" class="menos">-</button>
                    <p class="n"> <b>1</b> </p>
                    <button type="button"class="mas">+</button>
                </section>
            </section>

            <section class="detalle2">
                <p class="precio"><b>$999</b></p>
                <a href="#"><p class="opcionesDePago">18 Cuotas sin interés</p></a> <!-- De acá saldrá el PopUp para elegir otros medios de pago -->

                <section class="opcionesCompra">
                    <button type="button" class="comprarButton"><b>COMPRAR</b></button> <!-- Botón de comprar (checkout directo)-->
                    <button type="button" class="iconoCarrito"><img src="./images/iconos/add-to-cart.png" alt=""><b class="iconoCarritoLeyenda">Agregar al carrito</b></button> <!-- Botón de agregar al carrito-->
                </section>


            </section>
        </div>
    </main>
    
    <section class="features">
        <section class="mainFeature">
                <section>  <h4><b>Marca: </b></h4>  <p><i>  Dayco</i></p>  </section>
                <section>  <h4><b>Origen: </b></h4>  <p><i>  Argentina</i></p>  </section>
                <section>  <h4><b>Compatibilidades: </b></h4>  <p><i>  Fiat Fiorino 1.2 Fire</i></p>  </section>
        </section>    

        <section class="mainItemFeature">
            <h3>Kit de distribución</h3>
                <section>  <h5><b>Correa: </b></h5>  <p><i>  109SP250H</i></p>  </section>
                <section>  <h5><b>Tensor: </b></h5>  <p><i>  ATB2510</i></p>  </section>
                <section>  <h5><b>Polea: </b></h5>  <p><i>  ATB1080</i></p>  </section>
        </section> 

        <section class="partsFeatures">
            <div class="1_itemFeature">
                <h4>Correa de distribución</h4>
                    <section>  <h6><b>Nº de dientes: </b></h6>  <p><i>  109</i></p>  </section>
                    <section>  <h6><b>Ancho: </b></h6>  <p><i>  25mm</i></p>  </section>
                    <section>  <h6><b>Material: </b></h6>  <p><i>  Caucho</i></p>  </section>
            </div>
    
            <div class="2_itemFeature">
                <h4>Tensor</h4>
                    <section>  <h6><b>Diametro externo: </b></h6>  <p><i>  36mm</i></p>  </section>
                    <section>  <h6><b>Diametro interno: </b></h6>  <p><i>  25mm</i></p>  </section>
                    <section>  <h6><b>Ancho: </b></h6>  <p><i>  28mm</i></p>  </section>
                    <section>  <h6><b>Material: </b></h6>  <p><i>  Plástico</i></p>  </section>
            </div>
        </section>
        
        <section class="description">
            <h3 class="tituloDescripcion">Descripción</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </section>

    </section>

    <%- include('../partials/footer.ejs') %> <!--Footer -->
    
</body>
</html>