<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/detalleProducto.css"><!--Link a estilo de detalleProducto-->

    <meta name="keywords" content="repuestos"> <!--Palabras clave para que busque la página-->
    <meta name="robots" content="folow"> <!-- Se permite el rastreo de links a google-->
    <link rel="icon" href=""> <!--Ícono de la pestaña-->
    <link rel="stylesheet" href="./css/header.css" type="text/css"> <!-- Link a estilo de header-->
    <link rel="stylesheet" href="./css/footer.css" type="text/css"> <!-- Link a estilo de footer header-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de google-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Fuente de íconos -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> <!--Fuente de google -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!--Fuente de íconos -->
    <meta name="author" content="Grupo 1 - Agustín Narvaez, Diego Pistorio, Juan Pablo Carta y Nicolas Di Renzo"> <!--Autores -->
    
    <title>Detalle Producto</title>
</head>
<body>
    <header class="mainHeader">
        <img class="burgerMenu" src="./images/iconos/menu.png">
        <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
        <!--Logo -->
        <div class="mainHeaderAuxiliar"></div>
        <div class="menu">
            <a href="/"><img class="home" src="./images/iconos/home.png" alt="HOME" height=25px></a>
            <!--Home -->
            <ul>
                <!-- Menu -->
                <li><a href="">Nosotros</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Red</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
            <a href="/login"><img class="login" src="./images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
        </div>


    </header>
    
        
        <section class="filtro">
            <link rel="stylesheet" href="./css/header.css">      
            <div class="filterSelect">
                    <p>Filtros</p>
                    <img src="./images/iconos/down-arrow.png" alt="arrow">
            </div>
            <div class="filtros">
                <ul>
                    <li>Categoría</li>
                    <li>Marca</li>
                    <li>Año</li>
                    <li>Año</li>
                    <li>Modelo</li>
                </ul>
                <form action="gracias.html" method="Get">
                        <!-- action sirve para poner la página a la que direccionará después de llenar el formulario-->
                        <!-- method get y post sirve para mantener el texto una vez llenado-->
                    <select name="Categoría">
                        <Option value="0">Motor</Option>
                        <Option value="1">Suspensión y dirección</Option>
                        <Option value="2">Iluminación</Option>
                        <Option value="3">Distribución</Option>
                        <Option value="4">Electricidad</Option>
                    </select>
                    <select name="Marcas" >
                        <Option value="0">Fiat</Option>
                        <Option value="1">Ford</Option>
                        <Option value="2">Peugeot</Option>
                        <Option value="3">Renault</Option>
                        <Option value="4">Volkswagen</Option>
                    </select>
                    <input type="number" min="1952" max="2021">
                    <p>Modelo</p> <!-- El modelo depende de la marca, hay que hacer script -->
                    <input type="button" value="Filtrar">
                    <!--<ul>
                    <li>Repuestos</li>
                    <li>Marcas</li>
                    <li>Año</li>
                    <li>Modelo</li>
                    </ul>-->
                </form>
            </div>
            <div class="search">
                <textarea>Buscar marcas, repuestos</textarea><i class="fas fa-search"></i>
            </div>
        </section>

    <main>
        <div class="galery">
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 1" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 2" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 3" ></a>
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Ej 4" ></a>
        </div>

        <div class="mainImage">
            <a><img src="./images/ejemplos/productoEjemplo.jpg" alt="Principal" height=25px></a>
        </div>

        <div class="detalleProducto">
            <section class="detalle1">
                <h4 class="titulo"><i><b>Titulo Demasiado Unico Original y Exclusivo</b></i></h4>

                <section class="envio"> <!-- De acá saldrá el PopUp para elegir otros medios de transporte disponibles -->
                    <img class="iconoEnvio" src="./images/iconos/free-shipping.png" alt="">
                    <a href="#" class="leyendaEnvio"><p>Envío gratis a domicilio</p></a> 
                </section>

                <section class="cantidad">
                    <button type="button" class="menos">-</button>
                    <p class="n"> <b>1</b> </p>
                    <button type="button"class="mas">+</button>
                </section>
            </section>

            <section class="detalle2">
                <p class="precio"><b>$999</b></p>
                <a href="#"><p class="opcionesDePago">18 Cuotas sin interés</p></a> <!-- De acá saldrá el PopUp para elegir otros medios de pago -->

                <section class="opcionesCompra">
                    <button type="button" class="comprarButton"><b>COMPRAR</b></button> <!-- Botón de comprar (checkout directo)-->
                    <button type="button" class="iconoCarrito"><img src="./images/iconos/add-to-cart.png" alt=""></button> <!-- Botón de agregar al carrito-->
                </section>


            </section>
        </div>
    </main>
    
    <section class="features">
        <section class="mainFeature">
            <h2>Características</h2>
                <section>  <h4><b>Marca: </b></h4>  <p><i>Dayco</i></p>  </section>
                <section>  <h4><b>Origen: </b></h4>  <p><i>Argentina</i></p>  </section>
                <section>  <h4><b>Compatibilidades: </b></h4>  <p><i>Fiat Fiorino 1.2 Fire</i></p>  </section>
        </section>    

        <section class="mainItemFeature">
            <h3>Kit de distribución</h3>
                <section>  <h5><b>Correa: </b></h5>  <p><i>109SP250H</i></p>  </section>
                <section>  <h5><b>Tensor: </b></h5>  <p><i>ATB2510</i></p>  </section>
                <section>  <h5><b>Polea: </b></h5>  <p><i>ATB1080</i></p>  </section>
        </section> 

        <section class="partsFeatures">
            <div class="1_itemFeature">
                <h4>Correa de distribución</h4>
                    <section>  <h6><b>Nº de dientes: </b></h6>  <p><i>109</i></p>  </section>
                    <section>  <h6><b>Ancho: </b></h6>  <p><i>25mm</i></p>  </section>
                    <section>  <h6><b>Material: </b></h6>  <p><i>Caucho</i></p>  </section>
            </div>
    
            <div class="2_itemFeature">
                <h4>Tensor</h4>
                    <section>  <h6><b>Diametro externo: </b></h6>  <p><i>36mm</i></p>  </section>
                    <section>  <h6><b>Diametro interno: </b></h6>  <p><i>25mm</i></p>  </section>
                    <section>  <h6><b>Ancho: </b></h6>  <p><i>28mm</i></p>  </section>
                    <section>  <h6><b>Material: </b></h6>  <p><i>Plástico</i></p>  </section>
            </div>
        </section>
        
        <section class="description">
            <h3 class="tituloDescripcion">Descripción</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </section>

    </section>

    <footer class="mainFooter">
        <div class=mainFooterRed>
            <a href=""></a>
            <p>Conocé nuestra red de mecánicos recomendados</p></a>
        </div>
        <section class="mainFooterLogos">
            <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
    
            <div class="sociales">
                <a href=""></a><i class="fab fa-twitter"></i></a>
                <a href=""></a><i class="fab fa-facebook"></i></a>
                <a href=""></a><i class="fab fa-instagram"></i></a>
            </div>
        </section>
    
        <div class="copyright">
            <p>Copyright © 2021 El Rastrojero S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>