<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/detalleProducto.css">
    <title>Document</title>
</head>
<body>
    <header>
        <link rel="stylesheet" href="./css/styles.css">
            <img class="burger-menu" src="./images/iconos/menu.png">
            <img class="logo" src="./images/iconos/logo.png" alt="LOGO"> <!--Logo -->
            <div class="menu">
                <a href=""><img src="./images/iconos/home.png" alt="HOME" height=25px></a> <!--Home -->
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Red</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
                <a href=""><img src="./images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
            </div>
    </header>
    <section class="main">
        <div class="galery">
            <a href=""><img src="#" alt="Ej" height=25px></a>
            <a href=""><img src="#" alt="Ej" height=25px></a>
            <a href=""><img src="#" alt="Ej" height=25px></a>
            <a href=""><img src="#" alt="Ej" height=25px></a>
        </div>

        <div class="mainImage">
            <a href="$"><img src="#" alt="Principal" height=25px></a>
        </div>

        <div class="detalleProducto">
            <p class="Titulo">
                <h5><i><b>Titulo Demasiado Original</b></i></h5>
            </p>

        </div>
    </section>
    
    <section class="features">
    
    <section class="mainFeature">    
        
    </section>
        

    </section>

    
    
</body>
</html>