<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="folow"> <!-- Se permite el rastreo de links a google-->
    <meta name="keywords" content="repuestos"> <!--Palabras clave para que busque la página-->
    <link rel="icon" href=""> <!--Ícono de la pestaña-->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="author"content="Grupo 1 - Agustín Narvaez, Diego Pistorio, Juan Pablo Carta y Nicolas Di Renzo">
    <title>Proyecto integrador DH</title>
</head>
<body>
    <header class="mainHeader">
        <img class="burgerMenu" src="./images/iconos/menu.png">
        <img class="logo" src="./images/iconos/logo.png" alt="LOGO"> <!--Logo -->
        <div class="mainHeaderAuxiliar"></div>
        
        <div class="menu">
            <a href=""><img class="home" src="./images/iconos/home.png" alt="HOME" height=25px></a> <!--Home -->
            <ul>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Red</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
            <a href="/login"><img class="login" src="./images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
        </div>
    </header>
    <main>
        <section class="filtro">
            <div class="filterSelect">
                    <p>Filtros</p>
                    <img src="./images/iconos/down-arrow.png" alt="arrow">
            </div>
            <div class="filtros">
                <ul>
                    <li>Categoría</li>
                    <li>Marca</li>
                    <li>Año</li>
                    <li>Año</li>
                    <li>Modelo</li>
                </ul>
                <form action="gracias.html" method="Get">
                        <!-- action sirve para poner la página a la que direccionará después de llenar el formulario-->
                        <!-- method get y post sirve para mantener el texto una vez llenado-->
                    <select name="Categoría">
                        <Option value="0">Motor</Option>
                        <Option value="1">Suspensión y dirección</Option>
                        <Option value="2">Iluminación</Option>
                        <Option value="3">Distribución</Option>
                        <Option value="4">Electricidad</Option>
                    </select>
                    <select name="Marcas" >
                        <Option value="0">Fiat</Option>
                        <Option value="1">Ford</Option>
                        <Option value="2">Peugeot</Option>
                        <Option value="3">Renault</Option>
                        <Option value="4">Volkswagen</Option>
                    </select>
                    <input type="number" min="1952" max="2021">
                    <p>Modelo</p> <!-- El modelo depende de la marca, hay que hacer script -->
                    <input type="button" value="Filtrar">
                    <!--<ul>
                    <li>Repuestos</li>
                    <li>Marcas</li>
                    <li>Año</li>
                    <li>Modelo</li>
                    </ul>-->
                </form>
            </div>
            <div class="search">
                <textarea>Buscar marcas, repuestos</textarea><i class="fas fa-search"></i>
            </div>
        </section>
        <section class="carrousel">
            <i class="fas fa-arrow-circle-right"></i>
            <img src="./images/carrousel/banner-utilitarios.jpeg" alt="carrousel">
            <i class="fas fa-arrow-circle-left"></i>
            <div class="carrouselIndicadores">
                <div><i class="far fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
            </div>
            <!--<img src="" alt="IMG1">
            <img src="" alt="IMG2">
            <img src="" alt="IMG3">
            <img src="" alt="IMG4">-->
        </section>
        <section class="marcas">
            <h2>Marcas</h2>
            <div class="marcasTop">
                <img src="./images/logos-marcas/logo-renault.jpg" alt="IMG1">
                <img src="./images/logos-marcas/logo-fiat.jpg" alt="IMG2">
                <img src="./images/logos-marcas/logo-volkswagen.jpg" alt="IMG3">
            </div>}
            <div class="marcasBottom">
                <img src="./images/logos-marcas/logo-chevrolet.jpg" alt="IMG4">
                <img src="./images/logos-marcas/logo-peugeot.jpg" alt="IMG5">
            </div>
        </section>
    </main>
    <footer class="mainFooter" >
        <div class=mainFooterRed>
            <a href=""></a><p>Conocé nuestra red de mecánicos recomendados</p></a>
        </div>     
        <section class="mainFooterLogos">
            <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
            <div class="sociales"> 
                <a href=""></a><i class="fab fa-twitter"></i></a>
                <a href=""></a><i class="fab fa-facebook"></i></a>
                <a href=""></a><i class="fab fa-instagram"></i></a>
            </div>
        </section>

        <div class="copyright">
            <p>Copyright © 2021 El Rastrojero S.R.L.</p>
        </div>
    </footer>
</body>
</html>