<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="./css/productCart.css">
    <link rel="stylesheet" href="./css/header.css" type="text/css"> <!-- Link a estilo de header-->
    <link rel="stylesheet" href="./css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <header class="mainHeader">
            <img class="burgerMenu" src="./images/iconos/menu.png">
            <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
            <!--Logo -->
            <div class="mainHeaderAuxiliar"></div>
            <div class="menu">
               <a href="/"><img class="home" src="./images/iconos/home.png" alt="HOME" height=25px></a>
               <!--Home -->
               <ul><!-- Menu -->
                  <li><a href="">Nosotros</a></li>
                  <li><a href="">Productos</a></li>
                  <li><a href="">Red</a></li>
                  <li><a href="">Contacto</a></li>
               </ul>
               <a href="/login"><img class="login" src="./images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
            </div>
      </header>
   
<main>

    <section class="sideBar">

    <div class="tambiénTePuedeInteresar">
    <h6>También te puede interesar</h6>

    </div>
    </section>


    <section class="principal">
    <section class="selectedProducts">


    <div class="selectedProduct">
    <img class ="productimages" src="/images/kitdedistribucion.jpg" alt="product photo">
    <p class="descriptionProduct">DESCRIPCIÓN PRODUCTO ELEGIDO 1</p>

    </div>
    <div class="selectedProduct">
        <img class ="productimages" src="/images/kitdedistribucion.jpg" alt="product photo">
        <p class="descriptionProduct">DESCRIPCIÓN PRODUCTO ELEGIDO 2</p>

    </div>
    <div class="selectedProduct">

        <img class ="productimages" src="/images/kitdedistribucion.jpg" alt="product photo">
        <p class="descriptionProduct">DESCRIPCIÓN PRODUCTO ELEGIDO 3</p>

    </div>

    <div class="addingProduct">

    
        <p class="addingProductText">Agregar item al carrito <i class="fas fa-cart-plus"></i></p>

    </div>
    </section>

    <section class="shippingAndPayment">
    <p class="shippingOptions">Opciones de Envío <i class="fas fa-truck"></i></p>
    <button>Finalizar Compra</button>

    </section>

</main>



<footer class="mainFooter">
    <div class=mainFooterRed>
        <a href=""></a><p>Conocé nuestra red de mecánicos recomendados</p></a>
    </div>     
    <section class="mainFooterLogos">
        <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
        <div class="sociales"> 
            <a href=""></a><i class="fab fa-twitter"></i></a>
            <a href=""></a><i class="fab fa-facebook"></i></a>
            <a href=""></a><i class="fab fa-instagram"></i></a>
        </div>
    </section>

    <div class="copyright">
        <p>Copyright © 2021 El Rastrojero S.R.L.</p>
    </div>
</footer>


</body>
</html>