<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="keywords" content="repuestos">   <!--Palabras clave para que busque la página-->
   <meta name="robots" content="folow"> <!-- Se permite el rastreo de links a google-->
   <link rel="icon" href="">   <!--Ícono de la pestaña-->
   <link rel="stylesheet" href="./css/login.css" type="text/css"> <!-- Link a estilo de main-->
   <link rel="stylesheet" href="./css/header.css" type="text/css"> <!-- Link a estilo de header-->
   <link rel="stylesheet" href="./css/footer.css" type="text/css"> <!-- Link a estilo de footer header-->
   <link rel="preconnect" href="https://fonts.googleapis.com">   <!--Fuente de google-->
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Fuente de íconos -->
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">   <!--Fuente de google -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />   <!--Fuente de íconos -->
   <meta name="author" content="Grupo 1 - Agustín Narvaez, Diego Pistorio, Juan Pablo Carta y Nicolas Di Renzo">  <!--Autores -->

   <title>Register</title>
</head>

<body>
<header class="mainHeader">
      <img class="burgerMenu" src="./images/iconos/menu.png">
      <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
      <!--Logo -->
      <div class="mainHeaderAuxiliar"></div>
      <div class="menu">
         <a href=""><img class="home" src="./images/iconos/home.png" alt="HOME" height=25px></a>
         <!--Home -->
         <ul><!-- Menu -->
            <li><a href="">Nosotros</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Red</a></li>
            <li><a href="">Contacto</a></li>
         </ul>
         <a href="/login"><img class="login" src="./images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
      </div>
</header>
<main>
   <h2>Registro de Usuario</h2>

   <form class="form" action="" method="POST"> 
         
      <div> 
         <label for="nombre">Nombre</label> <br>
         <input type="text" name="nombre"  placeholder="  Ingrese su nombre" id="nombre" required>
      </div>
      
      <div>
         <label for="apellido">Apellido</label> <br>
         <input type="text" name="apellido" placeholder="  Ingrese su apellido" id="apellido" required>
      </div>

      <div>
         <label for="usuario">Usuario</label> <br>
         <input type="text" name="usuario" placeholder="  Elija un nombre de usuario" id="usuario" required>
      </div>
      
      <div>
         <label for="codigoPostal">Código Postal</label> <br>
         <input type="text" name="codigoPostal" placeholder="  Ingrese su código postal" id="codigoPostal" required>
      </div>

      <div>
         <label for="email">Email</label> <br>
         <input type="email" name="email" placeholder="  email@correo.com" id="email" required>
      </div>

      <div>
         <label for="contraseña">Contraseña</label> <br>
         <input type="password" name="contraseña" placeholder="  ***********" id="contraseña" required>
      </div>

      <div>
         <label for="repetirContraseña">Repetir contraseña</label> <br>
         <input type="password" name="repetirContraseña" placeholder="  ***********" id="repetirContraseña"required>
      </div>

      <div>
         

      <button type="submit" formaction="/login"> ENVIAR </button>

      </div>

      <div>
         <label class="radio">
         <input class="radio" type="checkbox"> Deseo recibir correos con información y ofertas de la página.
         </label>
         
      </div>






   </form>
</main>

<footer class="mainFooter">
   <div class=mainFooterRed>
      <a href=""></a>
      <p>Conocé nuestra red de mecánicos recomendados</p></a>
   </div>

   <section class="mainFooterLogos">
      <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
      <div class="sociales">
         <a href=""></a><i class="fab fa-twitter"></i></a>
         <a href=""></a><i class="fab fa-facebook"></i></a>
         <a href=""></a><i class="fab fa-instagram"></i></a>
      </div>
   </section>

   <div class="copyright">
      <p>Copyright © 2021 El Rastrojero S.R.L.</p>
   </div>
</footer>
</body>
</html>