* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainHeader {
  background-color: #f4f3ee;
  border-bottom: 1px solid #141414;
  display: flex;
  flex-direction: row;
  padding: 1%;
  align-items: center;
  /*height: 8vh;*/
}
.burger-menu{
  display: inline-block;
  width: 15vw;
  height: 15vw;
}
.burgermenu-icon {
  display: flex;
  width: 15vw;
  height: 15vw;
  align-self: center;
  border-radius: 50%;
  background-color: #818181;
}
.burger-menu:hover .burger-menu-items{
  display: block;
  z-index: 2;
  position: absolute;
  background-color:hsla(0, 0%, 100%, 0.671)
}
.burger-menu-items{
  display:none;
  text-align: start;
  justify-self: center;
  justify-items: space-around;
  align-self: center;
  padding: 4% 2% 2% 2%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0.555vh;
  margin-left: -1vw;
  width: 60vw
}
.mainHeader .logo {
  display: block;
  max-width: 60px;
  padding: auto;
  width: 15vw;
  height: 15vw;
}
.logo-container{
  margin-left: 25vw;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .mainHeader {
    display: flex;
    height: 8vh;
    align-items: center;
  }
  .mainHeaderAuxiliar {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .burger-menu{
    display: none
  }
  .menu {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  .menu ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    color: #141414;
    font-weight: bold;
  }
  .home {
    width: 30px;
    height: 30px;
  }
  .login {
    height: 35px;
    width: 35px;
    margin: 0 auto;
  }
}
