* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainHeader {
  background-color: #f4f3ee;
  border-bottom: 1px solid #141414;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  /*height: 8vh;*/
}
.burgerMenu {
  display: inline-block;
  width: 10%;
  padding: auto;
  margin: auto 0;
  border-radius: 50%;
  background-color: #eec643;
}
.mainHeader .logo {
  display: inline-block;
  width: 15%;
  max-width: 60px;
  align-self: center;
}
.mainHeaderAuxiliar {
  width: 10%;
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .mainHeader {
    display: flex;
    height: 8vh;
    align-items: center;
  }
  .mainHeaderAuxiliar {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .menu {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }
  .menu ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    color: #141414;
    font-weight: bold;
  }
  .home {
    width: 30px;
    height: 30px;
  }
  .login {
    height: 35px;
    width: 35px;
    margin: 0 auto;
  }
}
