body {
  height: 500px;
}
main {
  width: 100%;
  background-color: #eef0f2;
  display: flex;
  flex-direction: column;
  height: 75%;
  max-height: 700px;
}
main h2 {
  text-align: center;
  padding: 1%;
}

.loginForm {
  background-color: bisque;
  margin: 0 auto;
  width: 75%;
  height: 75%;
  padding: 10%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loginForm form {
  align-items: center;
}
.campo {
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 50vw;
  font-weight: bold;
  outline: none;
}
.submit {
  padding: 5px;
  max-width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgb(71, 71, 184);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.submit:hover {
  background-color: gray;
}

.submit:active {
  background-color: lightgray;
  color: black;
}
.loginForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}
.checkbox{
  padding: 2% 0 10% 0
}