* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

main{
   
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  width: 100%;
  min-height: 78vh;
  padding: 2%;
  align-items: center;
  justify-content: space-around;
}



.products{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  height: 300px;
  background-color: #FFF ;
  border-radius: 3%;
    
  
  
}



.image{
  
  width: 100%;
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

}



.productimages{
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  max-height: 200px;
}

.descriptionProduct {
  display: none;
}


.filter {
  background-color: lightgray;
  padding: 1%;
  padding-top: 0.5%;
  display: none;
  
}

.filterSelect {
  padding-bottom: 0.5%;
}

.filterSelect p {
  display: inline-block;
  text-align: center;
  margin-left: 42%;
  font-size: 18px;
}

.filterSelect img {
  display: inline-block;
  height: 20px;
  margin-left: 36%;
}

.search {
  width: 49%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 0.5%;
  text-align: center;
}

.search textarea {
  display: inline-block;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  color: #666;
  resize: none;
  outline: none;
}

.search i {
  width: 10%;
  padding: auto;
  margin: auto;
  text-align: center;
}



@media (min-width: 768px) {

.products {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  min-height: 75vh;
  
  }

.product{

  width: 32%;
  min-height: 35vh;
  transition: box-shadow;

}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }


   .product:hover .descriptionProduct{ 
    display: block; 
  }

.filter {

display: block;

}

}




