* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0000;
  height: fit-content;
  box-sizing: content-box;
  padding-top: 2%;
  padding-bottom: 2%;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.registerForm {
  background-color: #f5f5f5;
  box-shadow: 12px 12px 16px #dddddd, -12px -12px 16px #ffffff;
  border-radius: 32px;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  padding: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.loginForm form {
  align-items: center;
}
.input {
  width: 50vw;
  font-size: 14px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 1.5%;
  border: 1px solid #dddddd;
  font-weight: bold;
  outline: none;
}

.inputSpace {
  width: 50vw;
  display: flex;
  align-items: center;
}
.label {
  display: flex;
  height: 0.5vh;
  margin-bottom: 0.7%;
  margin-left: 1%;
  font-weight: bold;
}

/*Formato de input de imagen*/
input[type="file"]#image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.labelImage {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #7098af;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}
#inputImage {
  display: flex;
  justify-content: center;
}
.upload {
  align-self: center;
  height: 30px;
  width: 30px;
  margin: 0;
}

.is-valid {
  border: 2px solid green;
  border-radius: 10px;
}
.is-invalid {
  border: 2px solid red;
  border-radius: 10px;
}
.alert {
  color: red;
  padding: 1%;
}
.check {
  color: green;
  padding: 1%;
}
.hidden {
  display: none;
}

.errors {
  list-style: none;
  color: red;
  font-weight: bold;
}

.campo {
  margin-bottom: 4%;
}

.text-danger {
  color: red;
  font-weight: bold;
}

.buttons {
  margin-top: 6%;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.registerButton {
  font-weight: bold;
  color: white;
  background-color: #ffc107;
  padding: 2%;
  border-radius: 5px;
  border: none;
}
.registerButton:hover {
  background-color: rgb(172, 192, 236);
}
.deleteButton:hover {
  background-color: rgb(134, 44, 9);
}
.deleteButton {
  font-weight: bold;
  color: white;
  background-color: rgb(204, 61, 61);
  padding: 2%;
  border-radius: 5px;
  border: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}
.checkbox input {
  display: flex;
  margin-left: 3%;
}
.radio {
  display: flex;
  height: auto;
  margin-bottom: auto;
  margin-left: 3%;
  font-size: small;
}

input:focus {
  color: blue;
  font-weight: bold;
}

input:focus {
  border-color: rgb(196, 191, 169);
}
input:hover {
  background-color: rgb(243, 241, 226);
}
a {
  text-decoration: none;
  color: whitesmoke;
}
