* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #db9f51;
}
.carrousel {
  width: 100%;
  position: relative;
}
.carrousel i {
  position: absolute;
  color: #847b5a;
  top: 50%;
}
.fa-arrow-circle-left {
  left: 15px;
}
.fa-arrow-circle-right {
  right: 15px;
}
.carrousel img {
  width: 100%;
}
.carrouselIndicadores {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulo {
  width: 15px;
  background-color: white;
  border-radius: 50%;
}
.carrouselIndicadores div {
  position: relative;
  padding: 15px;
  width: 5px;
  color: #ffffff;
}
.carrouselIndicadores i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  align-self: center;
}
.marcas h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.marcasTop {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.marcasBottom {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.marcas img {
  max-width: 25%;
  border-radius: 50%;
  border: 2px solid #141414;
  transition: all 500ms;
}

@media (min-width: 460px) {
  .menu {
    display: inline;
  }
  .burger-menu {
    display: none;
  }
}
