* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  overflow-x: hidden;
}
main {
  background-color: #0000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** INICIO-Implementación CARROUSEL ******/
.carrousel {
  width: 95%;
  /* max-width: 120em; */
  margin: 1%;
  justify-content: center;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 12px 12px 16px #dddddd /* , -12px -12px 16px #ffffff */;
  overflow: hidden;
}

.carrousel .cont {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* margin: 1em; */
  border-radius: 32px;
  background: #f5f5f5;
  /*   box-shadow: 12px 12px 16px #dddddd, -12px -12px 16px #ffffff; */

  transition: all 0.7s ease;
  transform: translateX(0%);
}

.cont img {
  width: calc(100% / 2 - 2em);
  min-height: 10vh;
  max-height: 700px;
  border-radius: 10px;
}

.carrousel .indicators {
  width: 100%;
  padding: 0.4em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .indicator {
  align-self: center;
  width: 2em;
  height: 2em;
  margin: 1em 1em;
  list-style: none;
  border-radius: 149px;
  background: #f5f5f5;
  box-shadow: 3px 3px 5px #969696, -3px -3px 5px #ffffff;
}
.indicator.pressed {
  border-radius: 149px;
  background: #efe9e6;
  box-shadow: inset 3px 3px 5px #969696, inset -3px -3px 5px #ffffff;
}
/****** FIN-Implementación CARROUSEL ******/

/***** INICIO-Implementación categorías *****/

.categories {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.categories h2 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin-top: 1%;
  margin-bottom: 1%;
}
.categorie {
  display: block;
  width: 45%;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 12px 12px 16px #dddddd;
}
.categorie img {
  width: 100%;
  height: 100%;
}
.categorie h6 {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  height: 2em;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ffc107;
  color: white;
  vertical-align: center;
}

.categorie:active {
  border: solid 3px #ffc107;
}
/***** FIN-Implementación categorías *****/

.filter {
  background-color: #141414;
  padding: 1%;
  padding-top: 0.5%;
  color: white;
  font-weight: bold;
}
.filterSelect {
  padding-bottom: 0.5%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.filterSelect p {
  display: inline-block;
  text-align: center;
  margin-left: 42%;
  font-size: 1.5em;
  font-weight: bold;
}

.filterArrow {
  display: inline-block;
  height: 20px;
  margin-left: 36%;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.search {
  width: 49%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 0.5%;
  text-align: center;
}
.search input {
  display: inline-block;
  width: 90%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  color: #666;
  resize: none;
  outline: none;
}
.search .submit {
  width: 10%;
  padding: auto;
  margin: auto;
  text-align: center;
  background-color: #0000;
  border: #0000;
}

.filters {
  display: none;
}

@media (min-width: 768px) {
  /*.menu {
    display: inline;
  }*/
  .burger-menu {
    display: none;
  }
  /***** INICIO-Implementación categorías *****/
  .categorie h6 {
    display: none;
  }
  .categorie {
    width: 30%;
  }
  .categorie:hover {
    border: solid 2px #ffc107;
  }
  .categorie:hover h6 {
    display: block;
  }
  /***** FIN-Implementación categorías *****/
}
