<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> <!-- Head -->
    <title>El rastrojero</title>
</head>
<body>
<%- include('./partials/header.ejs') %> <!--Header -->
<%- include('./partials/filter.ejs') %> <!--Filter -->
    <main>
        <section class="carrousel">
            <i class="fas fa-arrow-circle-right"></i>
            <img src="./images/carrousel/banner-utilitarios.jpeg" alt="carrousel">
            <i class="fas fa-arrow-circle-left"></i>
            <div class="carrouselIndicadores">
                <div><i class="far fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
                <div><i class="fas fa-circle"></i></div>
            </div>
            <!--<img src="" alt="IMG1">
            <img src="" alt="IMG2">
            <img src="" alt="IMG3">
            <img src="" alt="IMG4">-->
        </section>
        <section class="marcas">
            <h2>Marcas</h2>
            <div class="marcasTop">
                <img id="renault "src="./images/logos-marcas/logo-renault.jpg" alt="IMG1">
                <img src="./images/logos-marcas/logo-fiat.jpg" alt="IMG2">
                <img src="./images/logos-marcas/logo-volkswagen.jpg" alt="IMG3">
            </div>
            <div class="marcasBottom">
                <img src="./images/logos-marcas/logo-chevrolet.jpg" alt="IMG4">
                <img src="./images/logos-marcas/logo-peugeot.jpg" alt="IMG5">
            </div>
        </section>
    </main>
<%- include('./partials/footer.ejs') %> <!--Footer -->
</body>
</html>