<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->

<body>
  <%- include('./partials/header.ejs',{ user: user}) %>
  <!--Header -->
  <%- include('./partials/filter.ejs') %>
  <!--Filter -->
  <main>
    <section class="carrousel">
      <div class='cont'>
        <img src="./images/carrousel/banner-utilitarios.jpeg" alt="carrousel1">
        <img src="./images/carrousel/carrousel2.jpg" alt="carrousel2">
      </div>
      <!-- Carrousel principal, aquí se mostrarán novedades y promociones -->
      <!-- <i class="fas fa-arrow-circle-right"></i> -->
      <!-- Flecha izq carrousel -->
      <!-- Imagen de modelo para carrousel -->
      <!-- <i class="fas fa-arrow-circle-left"></i> -->
      <!-- Flecha der carrousel -->
      <ul class='indicators'>
        <li class='indicator pressed'></li>
        <li class='indicator'></li>
      </ul>
      <!-- <div class="carrouselIndicadores">
         Indicadores de imagen de carrousel. CORREGIR UBICACIÓN CON CSS -->
      <!--<div><i class="far fa-circle"></i></div>
        <div><i class="fas fa-circle"></i></div>
        <div><i class="fas fa-circle"></i></div>
        <div><i class="fas fa-circle"></i></div>
      </div> -->
    </section>
    <section class="categories">
      <!-- Zona para filtrar marcas -->
      <h2>Categorías</h2>
      <a class='categorie'>
        <h6>Piezas de motor</h6>
        <img src="./images/categories/Categoría 1 - Piezas de motor.jpg" alt="CAT1">
      </a>
      <a class='categorie'>
        <h6>Filtros de aceite</h6>
        <img src="./images/categories/Categoría 2 - Filtros de aceite.jpg" alt="CAT2">
      </a>
      <a class='categorie'>
        <h6>Eletroventiladores</h6>
        <img src="./images/categories/Categoría 3 - Eletroventiladores.png" alt="CAT3">
      </a>
      <a class='categorie'>
        <h6>Frenos</h6>
        <img src="./images/categories/Categoría 4 - Frenos.webp" alt="CAT4">
      </a>
      <a class='categorie'>
        <h6>Repuestos de exterior</h6>
        <img src="./images/categories/Categoría 5 - Repuestos de exterior.jpg" alt="CAT5">
      </a>
      <a class='categorie'>
        <h6>Encendido</h6>
        <img src="./images/categories/Categoría 6 - Encendido.jpg" alt="CAT6">
      </a>
    </section>
  </main>
  <%- include('./partials/footer.ejs') %>
  <!--Footer -->
  <script src='/js/carrousel.js'></script>
</body>

</html>