<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {partialHead: partialHead}) %>

<body>
  <div class='container'>
    <h1>Error 404 - Página no encontrada</h1>
    <div class='button'><a href="/">Volver al sitio</a></div>
    <img src='/images/notFoundImage.jpg'>
  </div>
</body>

</html>