<footer class="mainFooter">
    <div class=mainFooterRed>
        <a href=""></a>
        <p>Conocé nuestra red de mecánicos recomendados</p></a>
    </div>
    <section class="mainFooterLogos">
        <img class="logo" src="./images/iconos/logo.png" alt="LOGO">
        <div class="sociales">
            <a href=""></a><i class="fab fa-twitter"></i></a>
            <a href=""></a><i class="fab fa-facebook"></i></a>
            <a href=""></a><i class="fab fa-instagram"></i></a>
        </div>
    </section>

    <div class="copyright">
        <p>Copyright © 2021 El Rastrojero S.R.L.</p>
    </div>
</footer>