<header class="mainHeader">
    <img class="burgerMenu" src="../../images/iconos/menu.png">
    <img class="logo" src="../../images/iconos/logo.png" alt="LOGO">
    <!--Logo -->
    <div class="mainHeaderAuxiliar"></div>

    <div class="menu">
        <a href="/"><img class="home" src="../../images/iconos/home.png" alt="HOME" height=25px></a>
        <!--Home -->
        <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Red</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
        <a href="/user/login"><img class="login" src="../../images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
    </div>
</header>