<header class="mainHeader">
  <img class="burgerMenu" src="../../images/iconos/menu.png">
  <img class="logo" src="../../images/iconos/logo.png" alt="LOGO">
  <!--Logo -->
  <div class="mainHeaderAuxiliar"></div>

  <div class="menu">
    <a href="/"><img class="home" src="../../images/iconos/home.png" alt="HOME" height=25px></a>
    <!--Home -->
    <ul>
      <li><a href="">Nosotros</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="">Red</a></li>
      <li><a href="">Contacto</a></li>
      <li><a href="/products/creation">Crear Producto</a></li>
    </ul>
    <% if(locals.isLogged){ %>
    <%= locals.userLogged.nickname %>
    <a href="/user/profile"><img class="login" src="./images/usersImages/<%= locals.userLogged.img %> " alt="profile" height=25px></a> <!-- Login -->
    <% } else { %>
    <a href="/user/login">
      <img class="login" src="../../images/iconos/login.png" alt="LOGIN" height=25px></a> <!-- Login -->
    <% } %>
  </div>
</header>