<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="folow"> <!-- Se permite el rastreo de links a google-->
    <meta name="keywords" content="repuestos">  <!--Palabras clave para que busque la página-->
    <link rel="icon" href="">   <!--Ícono de la pestaña-->

    <!--***** Hojas de estilos *****-->
    <!-- Hoja de estilos general -->
    <link rel="stylesheet" href="/css/header.css"> <!-- Hoja de estilos header -->
    <link rel="stylesheet" href="/css/footer.css"> <!-- Hoja de estilos footer -->
    <link rel="stylesheet" href="<%= partialHead.style %>"> <!-- Hoja de estilos dinámica -->

    <!--***** Fuentes *****-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Fuente de íconos -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> <!-- Fuente de íconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!-- Fuente de íconos -->

    <!--***** Autores *****-->
    <meta name="author" content="Grupo 1 - Agustín Narvaez, Diego Pistorio, Juan Pablo Carta y Nicolas Di Renzo"> 
    
    <!-- ***** Título dinámico *****-->
    <title><%= partialHead.title %></title> 
</head>