<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {partialHead: partialHead}) %> <!-- Head -->
<body>  
    <%- include('../partials/header.ejs') %> <!--Header -->
    <main>
        <h2>Ingresá a tu cuenta!</h2>
        <div class="loginForm">
            <form action="" method="">
                <input class="campo" type="text" name="nombreUsuari@" id="nombreUsuari@" placeholder="Ingrese su nombre de usuario o mail" required><br>
                <input class="campo" type="password" placeholder="Ingrese su contraseña" required><br>
                <button class="submit" type="submit" formaction="/">ENVIAR</button><br>
            </form>
            <h5>¿Aún no te registraste?</h5>
            <h5><a class="loginFormRegister" href="/register">Registrate aquí</a></h5>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %> <!--Footer  -->
</body>
</html>