<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {partialHead: partialHead}) %>
<!-- Head -->

<body>
  <%- include('../partials/header.ejs') %>
  <!--Header -->
  <main>
    <h1>Bienvenido <%= user.first_name +' ' + user.last_name %> </h1><br>
    <h5><a href='/user/logout'>Logout</a></h5>
    <img>
  </main>
  <%- include('../partials/footer.ejs') %>
  <!--Footer  -->
</body>

</html>